@-webkit-keyframes collapsing {
	from {width:90%;}
	to {width:10%;}
}
@keyframes collapsing {
	from {width:90%;}
	to {width:10%;}
}


@-webkit-keyframes expanding{
	from{width:10%;}
	to{width:90%;}
}
@keyframes expanding{
	from{width:10%;}
	to{width:90%;}
}


@-webkit-keyframes texpanding{
	from{font-size:0px;}
	to{font-size:20px;}
}
@keyframes texpanding{
	from{font-size:0px;}
	to{font-size:20px;}
}


@-webkit-keyframes tcollapsing{
	from{font-size:20px;}
	to{font-size:0px;}
}
@keyframes tcollapsing{
	from{font-size:20px;}
	to{font-size:0px;}
}


@-webkit-keyframes btcollapsing{
	from{font-size:40px;}
	to{font-size:0px;}
}
@keyframes btcollapsing{
	from{font-size:50px;}
	to{font-size:0px;}
}


@-webkit-keyframes enlarging{
	from{font-size:20px;}
	to{font-size:40px;}
}
@keyframes enlarging{
	from{font-size:20px;}
	to{font-size:40px;}
}


@-webkit-keyframes shrinking{
	from{font-size:40px;}
	to{font-size:20px;}
}
@keyframes shrinking{
	from{font-size:40px;}
	to{font-size:20px;}
}
