body{
	background:#ffeeff;
}
h1{
	font-family:"Times New Roman",serif;
	width:100%;
	text-align:center;
}
h2{
	font-family:Arial;
}
#grid{
	width:90%;
	margin:0% 5%;
}
.genericNew, .generic{
	outline:3px solid black;
	width:10%;
	height:150px;
}
.generic{
	-webkit-animation: collapsing .25s;
	animation:collapsing .25s;
}
.expanded{
	outline:3px solid black;
	width:90%;
	-webkit-animation:expanding .25s;
	animation:expanding .25s;
}
.generic .expandable,.genericNew .expandable{
	font-size:0px;
}
.generic .expandable{
	-webkit-animation:tcollapsing .25s;
	animation:tcollapsing .25s;
}
.expanded .expandable{
	margin:0px 30px;
	-webkit-animation:texpanding .25s;
	animation:texpanding .25s;
}
#magic{
	background:#ffcc88;
}
#details{
	background:#ffcccc;
}
#evidence{
	background:#ccffcc;
}
#people{
	background:#ccccff;
}
.expanded .small, .expanded .smallNew{
	font-size:20px;
	-webkit-animation:texpanding .25s;
	animation:texpanding .25s;
}
.generic .small{
	-webkit-animation:tcollapsing .25s;
	animation:tcollapsing .25s;
}

.generic .big{
	font-size:0px;
	-webkit-animation:btcollapsing .25s;
	animation:btcollapsing .25s;
}

.expanded .small{
	-webkit-animation:shrinking .17s;
	animation:shrinking .17s;
}

.expanded .big{
	font-size:40px;
	margin:50px,20px;
	-webkit-animation:enlarging .17s;
	animation:enlarging .17s;
}
