body{
	background:#ffeeff;
}
h1{
	font-family:"Times New Roman",serif;
	width:100%;
	text-align:center;
}
h2{
	font-family:Arial;
}
#grid{
	width:90%;
	height:300px;
	margin:0% 5%;
}
.generic{
	outline:3px solid black;
	width:50%;
	height:50%;
}
.expanded{
	outline:3px solid black;
	width:90%;
}
.generic .expandable{
	display:none;
}
.expanded .expandable{
	display:block;
}
#magic{
	background:#ffcc88;
}
#details{
	background:#ffcccc;
}
#evidence{
	background:#ccffcc;
}
#people{
	background:#ccccff;
}
