body{
	background:#ffccff;
}
h1{
	font-family:"Times New Roman",serif;
}
h2{
	font-family:Arial;
}
.generic{
	outline:3px solid black;
	width:50%;
	hight:50%;
}
#magic{
	background:#fc8;
}
#details{
	background:#ffcccc;
}
#evidence{
	background:#ccffcc;
}
#people{
	background:#ccccff;
}
