body{
	background:#ffccee;
}
h1{
	font-family:"Times New Roman",serif;
	width:100%;
	text-align:center;
}
h2{
	font-family:Arial;
}
#grid{
	width:90%;
	margin:0% 5%;
}
.generic{
	outline:3px solid black;
	width:10%;
	height:150px;
	-webkit-transistion:width .2s, height .2s;
	transistion:width .2s, height .2s;
}
.expanded{
	outline:3px solid black;
	width:90%;
	-webkit-transition:width .25s;
	transistion:width .2s;
}
td{
	text-align:center;
}
.generic .expandable{
	font-size:0px;
	-webkit-transition:font-size .25s;
	transition:font-size .25s;
}
.expanded .expandable{
	margin:0px 30px;
	-webkit-transition:margin .25s;
	transition:margin .25s;
}
#magic{
	background:#ffcc88;
}
#details{
	background:#ffcccc;
}
#evidence{
	background:#ccffcc;
}
#people{
	background:#ccccff;
}
.expanded .small{
	font-size:20px;
	margin:20px;
	-webkit-transition:font-size .17s, margin .17s;
	transition:font-size .17s,margin .17s;
}

.expanded .big{
	font-size:40px;
	margin:50px 20px;
	-webkit-transition:font-size .17s, margin .17s;
	transition:font-size .17s,margin .17s;
}
