body{
	background:#ffeeff;
}
h1{
	font-family:"Times New Roman",serif;
	width:100%;
	text-align:center;
}
h2{
	font-family:Arial;
}
#grid{
	width:100%;
	height:100%;
	margin:5px;
}
.generic{
	outline:3px solid black;
	width:50%;
	height:50%;
}
#magic{
	background:#ffcc88;
}
#details{
	background:#ffcccc;
}
#evidence{
	background:#ccffcc;
}
#people{
	background:#ccccff;
}
